/* header style */
*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(107, 105, 105);
    padding: 3px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 50px;
}
.nav{
    list-style: none;
    display: flex;
    margin-right: 50px;    
}
.item{
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}
.item a{
    text-decoration: none;
    color: white;
}
.item a:hover{
    color: indigo;
}